In [9]:
import pandas as pd
import numpy as np
df = pd.read_csv("580d8009-3d8d-410a-b7ca-9e29851407b6_Data.csv")
df

,Series Name,Series Code,Country Name,Country Code,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,30466479,31541209,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462
1,"Population, total",SP.POP.TOTL,Albania,ALB,2900401,2895092,2889104,2880703,2876101,2873457,2866376,2854191,2837849,2811666
2,"Population, total",SP.POP.TOTL,Algeria,DZA,37260563,38000626,38760168,39543154,40339329,41136546,41927007,42705368,43451666,44177969
3,"Population, total",SP.POP.TOTL,American Samoa,ASM,53691,52995,52217,51368,50448,49463,48424,47321,46189,45035
4,"Population, total",SP.POP.TOTL,Andorra,AND,71013,71367,71621,71746,72540,73837,75013,76343,77700,79034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11062,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,Virgin Islands (U.S.),VIR,..,..,..,..,..,..,..,..,..,..
11063,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,West Bank and Gaza,PSE,2.77908768282493,1.72439933626923,1.73298510037451,1.43161145810472,-0.219106604907305,0.212570934228834,-0.195107773730686,1.58018333639459,-0.735332001092242,1.23748102831382
11064,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,"Yemen, Rep.",YEM,9.88538714484848,10.9684421500194,8.10472583623948,..,..,..,..,..,..,..
11065,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,Zambia,ZMB,6.57589970757695,6.97767605490317,7.80687553566328,10.1105928909618,17.8697300795268,6.57731154205652,7.49457192728511,9.15031644316299,15.7325851421273,22.0212342935964
11066,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,Zimbabwe,ZWE,3.72532666110647,1.63495041543823,-0.197784810126586,-2.43096842383406,-1.54366960054164,0.893962316050074,10.6188658669575,255.304990757856,557.20181736205,98.5461050920624

In [ ]:
# lọc .. --> np.nan
df