In [3]:
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv',
                  header=0, encoding = 'ISO-8859-1')
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [4]:
# Việt hóa tên các cột
# Đổi tên chỉ 1 cột xác định
# data.rename(columns = {'Place':'Địa điểm'}, inplace=True)

# Đổi tên chỉ 1 vài cột xác định
# data.rename(columns = {'ProductId':'Mã sản phẩm', 'ProductName':'Tên sản phẩm'}, inplace=True)
# data.rename(columns = {'UmId':'Số lượng', 'UmName':'Tên đơn vị'}, inplace=False) #Bảng data không thay đổi

# Đổi tên toàn bộ các cột (Yêu cầu liệt kê đầy đủ tên cột mới và theo đúng thứ tự)
data.columns = ['Địa điểm', 'Mã SP', 'Tên SP', 'Đơn vị', 'Tên đơn vị', 'Tháng', 'Năm', 'Giá'] #Phải đủ số lượng tên các cột

data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [5]:
# thêm cột mới vào sau cuối
data['tên cột mới'] = np.NaN
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

In [6]:
# chèn thêm cột "chiết khấu" vào sau cột 'giá'
data.insert(8,'chiết khấu (%)',20)
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,chiết khấu (%),tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,20,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,20,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,20,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,20,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,20,NaN
...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,20,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,20,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,20,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,20,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,20,NaN

In [7]:
# thêm cột 'số lượng' trước cột 'giá' trá tri 50
data.insert(7,'số lượng',50)
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,số lượng,Giá,chiết khấu (%),tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,NaN

In [10]:
# đổi 'tên cột mới' thành 'tổng', giá trị bằng giá*số lượng*(100-chiết khấu)
data.rename(columns = {'tên cột mới':'tổng'}, inplace=True)
data['tổng'] = data['Giá'] * data['số lượng'] * (100-data['chiết khấu (%)'])/100
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,số lượng,Giá,chiết khấu (%),tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,1916.160
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284