In [1]:
# Đọc dữ liệu từ file csv
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv',
                  header=0, encoding = 'ISO-8859-1')
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [ ]:
# Đọc dữ liệu từ file excel
import pandas as pd
import numpy as np
data2 = pd.read_excel('D:\DA - TÚ\Data\database\house_price_Dống-Da.xlsx',
                   header=0, encoding = 'ISO-8859-1')
data2

In [ ]:
# Đọc dữ liệu từ file Json
df = pd.read_json('FoodPrice.json')
df.head()

In [3]:
# Đọc dữ liệu từ file hdf5
df=pd.read_hdf('FoodPrice.h5', 'table')
df.head()

FileNotFoundError: File FoodPrice.h5 does not exist

In [2]:
# Đọc dữ liệu từ file html
url = 'https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_in_North_America'
df = pd.read_html(url)
df[0].head()

,Flag,Map,"English short, formal names, and ISO[1][2][3][4]",Domestic short and formal name(s)[1][2],Capital[3][5][6],Population 2021[7][8],Area[9],Currency[3]
0,NaN,NaN,Antigua and Barbuda[n 1]ATG,English: Antigua and Barbuda,St. John's,93219,442.6 km2 (171 sq mi),East Caribbean dollar
1,NaN,NaN,"Bahamas, The[n 1]Commonwealth of The BahamasBHS",English: The Bahamas—Commonwealth of The Bahamas,Nassau,407906,"13,940 km2 (5,382 sq mi)",Bahamian dollar
2,NaN,NaN,Barbados[n 1]BRB,English: Barbados,Bridgetown,281200,431 km2 (166 sq mi),Barbadian dollar
3,NaN,NaN,Belize[n 1][n 2]BLZ,English: Belize,Belmopan,400031,"22,966 km2 (8,867 sq mi)",Belize dollar
4,NaN,NaN,Canada[n 3]CAN,English: CanadaFrench: Canada,Ottawa,38155012,"9,984,670 km2 (3,855,103 sq mi)",Canadian dollar