In [8]:
import pandas as pd
import numpy as np
data = pd.read_csv('D:\DA - TÚ\Data\database\FoodPrice_in_Turkey.csv',
                  header=0, encoding = 'ISO-8859-1')
display(data)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [9]:
print (data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB
None

In [3]:
import pandas as pd
import numpy as np
data = pd.read_csv('D:\DA - TÚ\Data\database\FoodPrice_in_Turkey.csv',
                  header=0, encoding = 'ISO-8859-1')
mean_product = data.groupby(['ProductId', 'ProductName'])['Price'].mean()
mean_product.head(20)

ProductId  ProductName
52         Rice - Retail                     7.950325
58         Wheat flour - Retail              3.253174
66         Beans (white) - Retail            9.572830
83         Potatoes - Retail                 2.297231
92         Eggs - Retail                     0.505925
94         Meat (chicken) - Retail           9.683471
97         Sugar - Retail                    4.482942
105        Garlic - Retail                  16.610370
108        Lentils - Retail                  6.651817
112        Pasta - Retail                    3.496637
114        Tomatoes - Retail                 3.393658
119        Groundnuts (shelled) - Retail    21.832122
124        Bread (common) - Retail           4.463293
151        Coffee - Retail                  42.468075
173        Onions - Retail                   2.141539
176        Tea (green) - Retail              4.137000
181        Cabbage - Retail                  1.723395
183        Meat (mutton) - Retail           45.557209
184        Oil (sunflower) - Retail          8.755174
185        Salt - Retail                     2.048213
Name: Price, dtype: float64