In [15]:
import pandas as pd
import numpy as np
df = pd.read_csv("D:\DA - TÚ\Data\database\GDPlist.csv",
                  header=0, encoding = 'ISO-8859-1')
df

          Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]

In [16]:
# Tính giá trị lớn nhất và nhỏ nhất của GDP.
df_GDP = df.loc[:,'GDP (millions of US$)']
df_GDP.max()
# df_GDP.min()

15094025

In [17]:
# Hãy cho biết xu hướng phân bố dữ liệu của GDP
# mode
df_GDP = df.loc[:,'GDP (millions of US$)']
df_GDP.mode()

0         10600
1         11313
2         12461
3         12655
4         12827
         ...
120     2776324
121     3577031
122     5869471
123     7298147
124    15094025
Name: GDP (millions of US$), Length: 125, dtype: int64

In [18]:
# median
df_GDP.median()

96089.0

In [19]:
# mean
df_GDP.mean()

555427.784

In [ ]:
# Median > Mean: Dữ liệu có phân bố lệch trái.

In [20]:
# Tính các giá trị thống kê của tất cả các biến định lượng trong DataFrame
df.describe()

       GDP (millions of US$)
count           1.250000e+02
mean            5.554278e+05
std             1.649266e+06
min             1.060000e+04
25%             2.574200e+04
50%             9.608900e+04
75%             3.332380e+05
max             1.509402e+07

In [21]:
# châu lục xuất hiện nhiều nhất
df_Continent = df.loc[:,'Continent']
df_Continent.mode()

0    Europe
Name: Continent, dtype: object

In [ ]:
# Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP. 
# Hợp nhất 2 bảng này thành một bảng duy nhất gồm 3 thông tin: Tên châu lục; Tổng GDP; TBC GDP.

In [22]:
df1 = df.loc[:,['Continent','GDP (millions of US$)']]
df1

         Continent  GDP (millions of US$)
0             Asia                  18181
1           Europe                  12847
2           Africa                 190709
3           Africa                 100948
4    South America                 447644
..             ...                    ...
120           Asia                  45353
121  South America                 315841
122           Asia                 122722
123         Africa                  33675
124         Africa                  19206

[125 rows x 2 columns]

In [25]:
df_b1 = df1.pivot_table(values='GDP (millions of US$)',index='Continent',aggfunc ='mean')
df_b1

               GDP (millions of US$)
Continent
Africa                  6.278659e+04
Asia                    6.784970e+05
Europe                  5.172805e+05
North America           1.658041e+06
Oceania                 5.542423e+05
South America           4.601352e+05

In [26]:
df_b2 = df1.pivot_table(values='GDP (millions of US$)',index='Continent',aggfunc ='sum')
df_b2

               GDP (millions of US$)
Continent
Africa                       1820811
Asia                        24425891
Europe                      19139380
North America               18238447
Oceania                      1662727
South America                4141217

In [27]:
# hợp nhất 2 bảng 
df2=pd.merge(df_b1,df_b2, on='Continent')
df2

               GDP (millions of US$)_x  GDP (millions of US$)_y
Continent
Africa                    6.278659e+04                  1820811
Asia                      6.784970e+05                 24425891
Europe                    5.172805e+05                 19139380
North America             1.658041e+06                 18238447
Oceania                   5.542423e+05                  1662727
South America             4.601352e+05                  4141217