In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [9]:
# tạo dataframe từ list
import pandas as pd
import numpy as np
lst = ['kế toán','kinh doanh','tiếp thị']
df = pd.DataFrame(lst)
print(df)
# display(df)

            0
0     kế toán
1  kinh doanh
2    tiếp thị

In [10]:
# tạo dataframe từ tuple
import pandas as pd
import numpy as np
tuples = [('kế toán', 2000),('kinh doanh',2100),('tiếp thi', 1900)]
df = pd.DataFrame(tuples, columns=['nghề','lương'])
print(df)

         nghề  lương
0     kế toán   2000
1  kinh doanh   2100
2    tiếp thi   1900

In [14]:
# tạo dataframe từ dictionary
import pandas as pd
import numpy as np
dic = {'Công việc':['Kỹ sư','Bác sĩ', 'Gíao viên'],
      'Thu nhập': [3000, 3100, 2900] }
df = pd.DataFrame(dic)
print(df)

   Công việc  Thu nhập
0      Kỹ sư      3000
1     Bác sĩ      3100
2  Gíao viên      2900

In [15]:
# Tạo Series từ Dictionary
# Khai báo Dictionary:
dict = {0 : 'Kế toán', 1 : 'Kinh doanh', 2 : 'Tiếp thị'}
# Gán giá trị của Dictionary vào Series
seri = pd.Series(dict)
print(seri)

0       Kế toán
1    Kinh doanh
2      Tiếp thị
dtype: object

In [16]:
# Tạo Series từ Numpy aray
list2 = [51,65,48,59,68]
# tạo numpy array
arr = np.array([51,65,48,59,68])
# Gán giá trị của array vào Series
seri2 = pd.Series(arr) 
# seri2 = pd.Series(list2)   # int 64
seri2

0    51
1    65
2    48
3    59
4    68
dtype: int32

In [18]:
# Tạo series từ các giá trị vô hướng
# tạo series
seri = pd.Series(10, index=[0,1,2,3,4,5])
# seri = pd.Series(np.arange(1,18,2))
seri

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

In [22]:
# nhập dữ liệu
import pandas as pd
import numpy as np
# nhập data
data = pd.read_csv('FoodPrice_in_Turkey.csv',
                  header=0, encoding = 'ISO-8859-1')
print('*'*20, "nhập dữ liệu thành công", '*'*20)
display(data)
data2 = pd.read_csv('FoodPrice_in_Turkey.csv',
                  header=0, encoding = 'utf-8')
display(data2)

******************** nhập dữ liệu thành công ********************

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [23]:
data.to_csv('second_time_FoodPrice.csv')

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [26]:
#Xác định số dòng và số cột của dữ liệu
print(data.shape) # shape là property, tính chất, thuộc tính
#Số cột
print(data.shape[0])
#Số hàng
print(data.shape[1])

(7381, 8)
7381
8