In [3]:
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv',
                  header=0, encoding = 'ISO-8859-1')
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [4]:
# Việt hóa tên các cột
# Đổi tên chỉ 1 cột xác định
# data.rename(columns = {'Place':'Địa điểm'}, inplace=True)

# Đổi tên chỉ 1 vài cột xác định
# data.rename(columns = {'ProductId':'Mã sản phẩm', 'ProductName':'Tên sản phẩm'}, inplace=True)
# data.rename(columns = {'UmId':'Số lượng', 'UmName':'Tên đơn vị'}, inplace=False) #Bảng data không thay đổi

# Đổi tên toàn bộ các cột (Yêu cầu liệt kê đầy đủ tên cột mới và theo đúng thứ tự)
data.columns = ['Địa điểm', 'Mã SP', 'Tên SP', 'Đơn vị', 'Tên đơn vị', 'Tháng', 'Năm', 'Giá'] #Phải đủ số lượng tên các cột

data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [5]:
# thêm cột mới vào sau cuối
data['tên cột mới'] = np.NaN
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

In [14]:
# chèn thêm cột "chiết khấu" vào sau cột 'giá'
data.insert(8,'chiết khấu (%)',20)
display(data)

ValueError: cannot insert chiết khấu (%), already exists

In [7]:
# thêm cột 'số lượng' trước cột 'giá' trá tri 50
data.insert(7,'số lượng',50)
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,số lượng,Giá,chiết khấu (%),tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,NaN

In [17]:
# đổi 'tên cột mới' thành 'tổng', giá trị bằng giá*số lượng*(100-chiết khấu)
data.rename(columns = {'tên cột mới':'tổng'}, inplace=True)
data['tổng'] = data['Giá'] * data['số lượng'] * (100-data['chiết khấu (%)'])/100
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,số lượng,Chiết khấu (%),Giá,chiết khấu (%),tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,20,4.4920,20,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,20,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,20,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,20,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,20,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,20,47.9040,20,1916.160
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,20,49.1176,20,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,20,50.8347,20,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,20,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,20,51.6071,20,2064.284

In [22]:
# thêm dòng mới vào cuối bảng
# chuẩn
data.loc[data.shape[0]]=['Sài Gòn',3000,'Dưa hấu',5,'KG',10,6,2022,0,50.000,0,np.NaN]
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,số lượng,Chiết khấu (%),Giá,chiết khấu (%),tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,20,4.4920,20,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,20,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,20,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,20,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,20,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,20,49.1176,20,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,20,50.8347,20,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,20,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,20,51.6071,20,2064.284
7381,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,0,50.0000,0,NaN

In [24]:
# thêm 1 dòng mới vào đầu bảng
data.loc[-1]=['Hà Nội',3001,'Cốm làng Vòng',5,'KG',10,6,2022,0,50.000,30,np.NaN]
# update index của bảng
data.index = data.index + 1
# sắp xếp lại bẳng
data = data.sort_index()
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,số lượng,Chiết khấu (%),Giá,chiết khấu (%),tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,0,50.0000,30,NaN
1,National Average,52,Rice - Retail,5,KG,5,2013,50,20,4.4920,20,179.680
2,National Average,52,Rice - Retail,5,KG,6,2013,50,20,4.5786,20,183.144
3,National Average,52,Rice - Retail,5,KG,11,2013,50,20,4.7865,20,191.460
4,National Average,52,Rice - Retail,5,KG,12,2013,50,20,5.1337,20,205.348
...,...,...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,20,49.1176,20,1964.704
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,20,50.8347,20,2033.388
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,20,51.7985,20,2071.940
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,20,51.6071,20,2064.284
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,0,50.0000,0,NaN

In [26]:
# chèn hàng giữa bảng
data.loc[-1] = data.loc[0]
data.loc[0] = ['Đà Nẵng',3002,'Mỳ Quảng',5,'Tô',10,2022,0,20, 100.000,10,np.NaN]
data.index = data.index +1
data = data.sort_index()
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,số lượng,Chiết khấu (%),Giá,chiết khấu (%),tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,0,50.0000,30,NaN
1,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,0,20,100.0000,10,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,0,20,100.0000,10,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,20,4.4920,20,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,20,4.5786,20,183.144
...,...,...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,20,49.1176,20,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,20,50.8347,20,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,20,51.7985,20,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,20,51.6071,20,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,0,50.0000,0,NaN

In [ ]:
# chèn vị trí bất kì
# swap các dòng

In [ ]:
# chèn thêm ở vị trí bất kì

In [30]:
# xóa cột
data2= data
del data2['tổng']
display(data2)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,số lượng,Giá,chiết khấu (%),tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,50.0000,30,NaN
1,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,0,100.0000,10,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,0,100.0000,10,NaN
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
...,...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,số lượng,Giá,chiết khấu (%)
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,50.0000,30
1,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,0,100.0000,10
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,0,100.0000,10
3,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20
4,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20
...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0

In [31]:
data3= data
data3.pop['chiết khấu (%)']
display(data3)

TypeError: 'method' object is not subscriptable